:root {
  --color-action: #F476AC;
  --color-accent: #d8b193;
  --color-darkened: #be9079;
  --color-okay: #5a7c6c;
}

header {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

header .header-icon {
  margin-right: 1rem;
}

header .header-letter {
  color: var(--color-action);
}

header .header-text {
  color: var(--color-darkened);
  margin-right: 1.0rem;
}

.deck-list {
  display: grid;
}

.deck-in-decklist {
  
}