:root {
  --color-action: #F476AC;
  --color-accent: #d8b193;
  --color-darkened: #be9079;
  --color-okay: #5a7c6c;
}

body {
  font-size: 20px;
}

ol {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

header .header-icon {
  margin-right: 1rem;
}

header .header-letter {
  color: var(--color-action);
}

header .header-text {
  color: var(--color-darkened);
  margin-right: 1.0rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.back-to-home-link {
  font-size: 1rem;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

main.with-margins {
  margin-left: 2rem;
  margin-right: 2rem;
}

.flex {
  display: flex;
}

.italic {
  font-style: italic;
}

.deck-list {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2rem;
  list-style: none;
}

.deck-list-card-title {
  margin: 1rem 2rem 0 2rem;
}

.deck-list-card-subtitle {
  margin: 0 2rem;
}

.deck-list-card-content {
  margin: 0 1rem 1rem 2rem;
}

.cards-page--title-container {
  margin-bottom: 1rem;
  justify-content: space-between;
}

.deck-title-on-cards-page {
  display: inline;
}

@media screen and (max-width: 50rem) {
  body {
    font-size: 16px;
  }

  header {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    justify-content: flex-start;
  }

  header .header-icon {
    margin-right: 0.25rem;
  }

  header .header-text {
    margin-right: 0.25rem;
  }

  .back-to-home-link {
    font-size: 0.75rem;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }

  main.with-margins {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .deck-list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .deck-list-card-title {
    margin: 0.25rem 0.5rem 0 0.5rem;
  }

  .deck-list-card-subtitle {
    margin: 0 0.5rem;
  }

  .deck-list-card-content {
    margin: 0 0.25rem 0.25rem 0.5rem;
  }
  
  .cards-page--title-container {
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  .deck-title-on-cards-page {
    font-size: 1rem;
  }

  .button-jump-to-random-card {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
}